.avatar img {
    max-width: 32px;
    max-height: 32px;
    overflow: hidden;
    border-radius: 100%;
    float: right;
}

.top-nav {
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 8px #0000008a;
    padding: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-nav > * {
    display: inline-block;
}

.site-title {
    width: 100%;
    color: var(--text-color-misc);
    font-size: 20px;
}

.top-nav {
    justify-content: space-between;
}