<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#ffffff">
<link href="/client/favicon.ico" rel="shortcut icon"/>
<link href="/client/styles/config.css" rel="stylesheet">
<link href="/client/styles/basic.css" rel="stylesheet">
<link href="/client/styles/gallery.css" rel="stylesheet">
<link href="/client/fonts/open-sans/open-sans.css" rel="stylesheet">
<link href="/client/fonts/ubuntu/ubuntu.css" rel="stylesheet">
<link href="/client/fonts/material-icons/material-icons.css" rel="stylesheet">
<script type="module" src="/client/scripts/gallery.js"></script>

<header class="top-nav">
	<a class="icon back" href=".."></a>
	<h1 class="site-title">{{ site.title }}</h1>
	<a class="avatar" href="/">
		<img src="/data/avatar.jpeg">
	</a>
</header>
<article class="content">
	<h1 class="title"></h1>
</article>
